body{
    background-color: #c4c3d0;
}

header {
    border-bottom: 4px solid rgb(46, 45, 45);
    border-bottom-width: 75%;
}

.container {
    background-color: grey;
    padding: 1rem;
    margin: auto;
    width: 75%;
    height: 100%;
    text-align: center;
    border-radius: 24px;
    mix-blend-mode: lighter;
}


nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right:5.5rem;
  }

h1, p {
    color: white;
}



fieldset {
    border: none;
    padding-bottom: 1.5rem;
    border-bottom: 4px solid rgb(46, 45, 45);
    border-bottom-width: 75%;
}
.personal info {
    width: 75%;
    margin: auto;
    height: 10vh;
    border: none;
    padding: 1rem;
}
input, label {
    display: block;
    margin: auto;
    width: 55%;
}

label {
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Adjust the spaces between letters */
    letter-spacing: 1px;

}

input {
    margin: 0.5em auto;
    border-radius: 24px;
    border: none;
    height: 1.25rem;
    background-color: silver;


} 

input::placeholder{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

input:focus{
outline: none;
border-radius: 24px;
height: 1.25rem;
text-align: center;
}

.inline {
    width: unset;
    display: inline;
    margin: 0 0 .5em 0;
    vertical-align: middle;
}

textarea {
    display: block;
    margin: auto;
    margin-top: .5em;
    width: 75%;
    background-color: silver;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
    
}
textarea::placeholder {
    color: black;
    text-align: center;
    padding-top: 24px;
}
button {
    background-color: silver;
    border: none;
    width: 14rem;
    padding: 10px;
    border-radius: 24px;
    font-size: 1rem;
    letter-spacing: 1px;
}

button:active {
    color: silver;
    background-color: black;
    box-shadow: 0px 0px 10px 5px rgba(192, 192, 192, 0.5);
    transition: .3s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    align-items: center;

}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    padding: 2rem;
    border-radius: 48px;
}


a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: #dcdcdc;
    transition: .6s;
}


a:active {
    color: black;
    transition: 0.6s;
}
